/* estilos.css */

.imagen-destacada {
    max-width: 100%; /* La imagen no excederá el tamaño de su contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Evita el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
   
}


